*~
/wireguard-go
vendor
.gopath
ireallywantobuildon_linux.go
*.exe
*.out
/device/device
/ipc/ipc
/ratelimiter/ratelimiter
/replay/replay
/rwcancel/rwcancel
/tai64n/tai64n
/tun/tun
/tun/wintun/guid/guid
/tun/wintun/netshell/netshell
/tun/wintun/setupapi/setupapi
/tun/wintun/wintun
/wgcfg/wgcfg
